<!-- Features Section -->
    <section class="bg-light-gray" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Features</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
  				<p class="text-justify large text-muted"><strong>LearnEDFM</strong> describes the coupled processes connected to fluid flow and transport in the fractured subsurface. We use the embedded discrete fracture model leading to a system of partial differential equations and solve these systems with MATLAB. <strong>LearnEDFM</strong> comes with the following key features: </p>
  				<ul>
  					<li><p class="large text-muted">2D vectorized MATLAB implementation  </p></li>
  					<li><p class="large text-muted">Single phase darcy flow</p></li>
  					<li><p class="large text-muted">Tracer transport (advection + diffusion + dispersion)</p></li>
                    <li><p class="large text-muted">Heat transport (advection + diffusion)</p></li>
  					<li><p class="large text-muted">Comprehensive user manual</p></li>
  				</ul>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-justify large text-muted">Whether you're a student getting a first glimpse modeling naturally fractured reservoirs or a professional researcher looking for a new simulation tool <strong>LearnEDFM</strong> might be the perfect starting point for you!</p>
                </div>
            </div>
        </div>
    </section>
