<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Download</h2>
                    <h3 class="section-subheading text-muted">LearnEFFM source code and user documentation.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <a href="https://github.com/dwarftools/LearnEDFM/raw/master/LearnEDFM_UserGuide_v1_1.pdf">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">User Manual</h4>
                    <p class="text-muted">The user manual provides all the theoretical basis of the method and explains the usage of the LearnEDFM code.</p>
                </div>
                <div class="col-md-4">
                  <a href="https://github.com/dwarftools/LearnEDFM/archive/v1.1.tar.gz">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Code</h4>
                    <p class="text-muted">Download the LearnEDFM source code.</p>
                </div>
                <div class="col-md-4">
                  <a href="https://github.com/dwarftools/LearnEDFM">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">github</h4>
                    <p class="text-muted">Or you can directly clone or fork our github repository.</p></a>
                </div>
            </div>
        </div>
    </section>
