<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contributors</h2>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-8">
                    <p class="large text-muted">Gunnar is a PhD student focussing on geothermal energy at the universtiy of Neuchâtel. The main focus of his research the development of numerical tools to gain a better understanding of the processes involved in the subsurface. The models are based on coupled processes from fluid dynamics, solid mechanics and heat transport. Further research interests include geothermal resources, numerical methods and the earthquake cycle.</p>
                </div>
            </div>
        </div>
    </section>
